@page "/"

@rendermode InteractiveServer

@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1 style="display: flex; justify-content: space-between; align-items: center;">
    Customers
    <button class="btn btn-primary"  @onclick="() => AddCustomer()">
        <span class="material-icons">
            add_person
        </span>
    </button>
</h1>


@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditCustomer(customer)">
                            <span class="material-icons">
                                edit
                            </span>
                        </button>

                        <button class="btn btn-danger">
                            <span class="material-icons">
                                delete
                            </span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<Modal @ref="editModal">
    <Title>Edit Customer</Title>
    <Body>
        <CustomerForm SelectedCustomer="selectedCustomer" />
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="SaveCustomer">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => editModal!.Close()">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="addModal">
    <Title>Add Customer</Title>
    <Body>
        <CustomerForm SelectedCustomer="selectedCustomer" />
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="SaveCustomer">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => addModal!.Close()">Cancel</button>
    </Footer>
</Modal>

